body {
	font: 18px Calibri;
}

#wrapper {
	width: 700px;
	margin: 60px auto;
}

#auth {
	float: right;
	-webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}

#logout {
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font: 20px Calibri;
	background-color: #F2F2F2;
	border: none;
	cursor: pointer;
}

#header {
	background-color: #595959;
	color: #FFFFFF;
	width: 600px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 22px;
	-webkit-box-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}

#content {
	margin-top: 20px;
	padding: 30px;
	background-color: #F2F2F2;
	width:640px;
	text-align: center;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#submit {
	display: inline-block;
	background-color: #7F7F7F;
	color: #ECECEC;
	margin: 0;
	width: 180px;
	height: 35px;
	font-size: 16px;
	text-align: center;
	border: none;
	text-shadow: 1px 1px 2px black;
	font-weight: bold;
	cursor: pointer;
}

table {
	display: inline-block;
}

#left_side {
	text-align: left;
}

#right_side {
	text-align: right;
}

table td{
	padding: 8px;
}

select {
	height: 35px;
	font: 18px Calibri;
}

textarea:focus, 
input[type="text"]:focus,
select:focus {
	border: 2px solid #595959;
	outline: none;
}

input[type="text"] {
	width: 440px;
	font: 18px Calibri;
}

textarea {
	font: 18px Calibri;
}
